<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<!-- test -->
	<p>LANGUE: {{.Site.Language.Lang}}</p>	
	<!-- <p>{{ .Site.Params.contact.icon_email}}</p> -->
<!-- end test -->
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			<div><h4><i>{{ i18n "contact_at"}}</i></h4></div>
			<br></br>
			 <!-- ### EMAIL -->
			<div class="row">
				<div class="col-xs-2"><img src="{{ .Site.Params.contact.icon_email}}"/></div>
				<div class="col-xs-10">{{ .Site.Data.contact.email}}</div>								
			</div>	
			<br></br>
			<!-- ### PHONE -->
			<div class="row">
				<div class="col-xs-2"><img src="{{ .Site.Params.contact.icon_phone}}"/></div>
				<div class="col-xs-10">{{ .Site.Data.contact.phone}}</div>								
			</div>	
			<br></br>
			<!-- ### ADDRESS -->
			<div class="row">
				<div class="col-xs-2"><img src="{{ .Site.Params.contact.icon_address}}"/></div>
				<div class="col-xs-10">{{ .Site.Data.contact.address}}</div>								
			</div>	
			<br></br>
			<!-- ### LINKEDIN -->
			<div class="row">
				<div class="col-xs-2"><a href="{{ .Site.Data.contact.linkedin}}"/><img src="{{ .Site.Params.contact.icon_linkedin}}"/></a></div>
				<div class="col-xs-10"></a></div>								
			</div>	

			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
