<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			<div class="row">
				{{ range (.Paginator 6).Pages }}
				<div class="col-md-6">
					<article class="blog-post">
						<img src="{{ .Params.Icon | relURL}}" class="img-fluid" alt="post-thumb" width="60%" >
						<a class="post-title" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
						<p>{{ .Description }}</p>
						<a href="{{ .Permalink | safeURL}}" class="btn btn-main">{{ i18n "read_more"}}</a>						
					</article>
				</div>
				{{ end }}			
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
