<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section class="section" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
	          <div class="block">
							{{ with .Params.Image }}<img src="{{ . | absURL }}" width="25%" alt="post-image"> {{ end }}
	            <h1>{{ .Params.title }}</h1>
	            <div class="post-info-wrapper">
	              <!-- <p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ .Site.Params.dateFormat | default "Jan 2, 2006" | .Date.Format }}</span></p> -->
	            </div>
	            <hr />
	            <p>{{ .Content }}</p>
	          </div>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
		
		<!-- Get the address of the next and previous page -->
		
		<!-- #### TO ADD :Button to previous and next single page -->
		<!-- #### DOES NOT WORK!!! -->
			<!-- <p class="center-text" style="padding: 30px;"> -->
				<!-- <div class="container-fluid"> -->
					<!-- <div class="row"> -->
					  <!-- <div class="col-xs-6"><a class="btn btn-main" href="{{ .Params.prev_page }}">{{ i18n "previous"}}</a></div> -->
					  <!-- <div class="col-xs-6"><a class="btn btn-main" href="{{ .Params.next_page }}">{{ i18n "next"}}</a></div>											   -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </p> -->
	  </section>
	</div>
	<!-- ### HOME BUTTON SUPPRESSED, USELESS -->
		<!-- <p class="center-text" style="padding: 30px;"> -->
		  <!-- <a class="btn btn-main" href="{{ $.Site.BaseURL }}">{{ i18n "home_page"}}</a> -->
		<!-- </p> -->
	
	

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
