<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<!-- test -->
	<p>LANGUE: {{.Site.Language.Lang}}</p>
<!-- end test -->
<body>

	{{ partial "header.html" . }}

	{{ partial "global-header.html" . }}

	<section class="blog section">
		<div class="container">
			<div class="row">
				<!-- {{ range (.Paginator 6).Pages }} -->
				<!-- <div class="col-md-6"> -->
					<article class="blog-post">
						<a class="post-title">{{ .Title }}</a>
						<p>{{ .Content }}</p>
						<!-- <a href="/contact/contact.html" class="btn btn-main">{{ i18n "contact_action"}}</a> -->
						<a href="{{ .Site.Params.contact.url | relURL}}" class="btn btn-main">{{ i18n "contact_action"}}</a>
					</article>
				<!-- </div> -->
				<!-- {{ end }} -->
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
