<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}	
</head>
<body>

	{{ partial "header.html" . }}
	
	<div class="post">
	  <!-- Wrapper Start -->
	  <section class="section" style="border: 1px dotted #ddd;">
	    <div class="container">
		  <div class="block">
			{{ with .Params.Image }}<img class="img-fluid" src="{{ . | absURL }}" width="150px" style="max-width: 90%" alt="post-image"> {{ end }}
			<h1>{{ .Params.title }}</h1>
			<hr />
			<p>{{ .Content }}</p>
		  </div>
	          
		<!-- #### Button to previous and next single page -->
			<p class="center-text" style="padding: 30px;">
				<!-- <div class="container-fluid"> -->
					<div class="row">
						{{ if .NextInSection }}
							<div class="col-xs-6"><a class="btn btn-main" href="{{ .NextInSection.Permalink }}">{{ i18n "previous"}}</a></div>
						{{ else}}
							<div class="col-xs-6"></div>
						{{ end }}
						{{ if .PrevInSection }}
							<div class="col-xs-6"><a class="btn btn-main" href="{{ .PrevInSection.Permalink }}">{{ i18n "next"}}</a></div>
						{{ end }}					  
					</div>
			</p>		  
	    </div>								
	  </section>
	</div>
	
	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
