<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="{{ .Site.BaseURL }}"> -->
			<div class="row">
			
				<a class="logo" href="{{ .Site.BaseURL }}"> 
				  <img src="{{ .Site.Params.logo | relURL | safeURL }}" alt="{{ .Site.Title }} Logo" width="100px"/>
				</a>
				<!-- Tests flags -->
				<!-- <a href="/">  -->
				  <!-- <img src="/img/flag_uk.png" alt="English" width="7.5%" style="vertical-align:bottom"/> -->
				<!-- </a> -->
				<!-- <a href="/fr/">  -->
				  <!-- <img src="/img/flag_fr.png" alt="Français" width="7.5%" style="vertical-align:bottom"/> -->
				<!-- </a> -->
			</div>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="{{ .Site.BaseURL }}"><font size="4">{{ .Site.Params.home }}</font></a></li> -->
				<li><a href="{{ .Site.BaseURL }}{{ .Site.Params.url }}"><font size="4">{{ .Site.Params.home }}</font></a></li>
              {{ range .Site.Menus.header }}
                <li><a href="{{ .URL }}"><font size="4">{{ .Name }}</font></a></li>
              {{ end }}
			  
			  <!-- Add Language links with no wrap between languages-->
			  <span class="text-nowrap"><li style="padding-top:5px;"><i>
				<a href="/"><font size="4">En</font></a>/<a href="/fr/"><font size="4">Fr</font></a>/<a href="/pt/"><font size="4">Pt</font></a>
				<!-- <a href="/" >En</a> / <a href="/fr/">Fr</a>				 -->
			  </i></li></span>
			  
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
