{{ partial "global-header.html" . }}

<!-- ### Service Start -->
<section id="service">
	<div class="container">

		<!-- <!-- ### Original with loop over data/service.yml content -->
		<!-- <!-- ### Intro -->
		<div class="row">
			<div class="section-title">
			 	<!-- <h2>{{ i18n .Site.Data.service.title }}</h2>  -->
				<!-- <p>{{ i18n .Site.Data.service.subtitle }}</p> 	 -->
				<h2>{{ i18n "services_title" }}</h2>
				<p>{{ i18n "services_subtitle"}}</p>
			</div>
		</div>
		<!-- ### Content -->
		<!-- <div class="row"> -->
			<!-- ### Content based on data/service.yml SHOULD TRY TO ACCES DATA FROM CONTENT/SERVICES/_INDEX.MD-->			
			
			<!-- {{ $paginator := .Paginate (where .Pages "Type" "services") 6 }} -->
			<!-- ### First 3 pages in a row -->
			{{ $paginator := .Paginate (where .Pages "Type" "services") 6 }}
			
			<div class="row">		
				{{ range first 3 $paginator.Pages}}
					<div class="col-12 col-sm-4 col-md-4">
						<div class="service-item">
							<a href="{{ .Permalink}}" ><img src="{{ .Params.Icon | relURL}}" ></a>
							<a href="{{ .Permalink}}" ><h4>{{ .Title }}</h4></a>						
							<p>{{ .Description }}</p>
						</div>
					</div>		
				{{ end }}
			</div>
			
			<!-- Last 3 pages in a row -->
			<div class="row">			
				{{ range last 3 $paginator.Pages}}
					<div class="col-12 col-sm-4 col-md-4">
						<div class="service-item">
							<a href="{{ .Permalink}}" ><img src="{{ .Params.Icon | relURL}}" ></a>
							<a href="{{ .Permalink}}" ><h4>{{ .Title }}</h4></a>						
							<p>{{ .Description }}</p>
						</div>
					</div>				
				{{ end }}		
			</div>

	</div>

	{{ with .Site.Params.services.button }}
		<a href="{{ .url | relURL }}" class="btn btn-main">{{ i18n "services_button" }}</a>
	{{ end }}
	   
</section>
