<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <!-- <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1> -->
                    <!-- <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p> -->
					<h1 class="animated fadeInUp text-uppercase">{{ i18n "home_page_title" | safeHTML }}</h1>
                    <p class="animated fadeInUp">{{ i18n "home_page_subtitle" | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
</section>