{{ partial "global-header.html" . }}

<!-- ### Tools Start -->
<section id="tool">
	<div class="container">

		<!-- <!-- ### Intro -->
		<div class="row">
			<div class="section-title">
			 	<h2>{{ i18n "tools_title" }}</h2>
				<p>{{ i18n "tools_subtitle"}}</p>
			</div>
		</div>
		<!-- ### Content -->
		<div class="row">
			<!-- ### Content based on data/service.yml SHOULD TRY TO ACCES DATA FROM CONTENT/SERVICES/_INDEX.MD-->			
			
			{{ $paginator := .Paginate (where .Pages "Type" "tools") 6 }}
			
			{{ range $paginator.Pages}}
				<div class="col-12 col-sm-4 col-md-4">
					<div class="service-item">
						<!-- <a href="{{ .Params.Url_official}}" ><img src="{{ .Params.Icon }}" ></a> -->
						<h4>{{ .Title }}</h4>
						<p>{{ .Description }}</p>
					</div>
				</div>				
			{{ end }}
		
		</div>

	</div>
	   
</section>
